.bg-eee{
	background-color: #eee;
}
.bg-pink{
	background-color: #FF5A60;
}
.navbar-default{
	margin-bottom: 0;
}
#bottom{
	background-color: #ddd;
	text-align: center;
}
#footer {
    background-color: #666;
    border-top: 1px solid #ccc;
    color: #eee;
    padding: 10px;
    text-align: center;
}
